<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
<!--    <security-constraint>
        <web-resource-collection>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>-->
    
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>br.unisc.trabpoo3.web.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MenuServlet</servlet-name>
        <servlet-class>br.unisc.trabpoo3.web.MenuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MenuServlet</servlet-name>
        <url-pattern>/Menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlocacaoServlet</servlet-name>
        <url-pattern>/Alocacao.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpresaServlet</servlet-name>
        <url-pattern>/Empresa.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjetoServlet</servlet-name>
        <url-pattern>/Projeto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecursoServlet</servlet-name>
        <url-pattern>/Recurso.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TarefaServlet</servlet-name>
        <url-pattern>/Tarefa.do</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Menu.do</welcome-file>
    </welcome-file-list>
    
</web-app>
